<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcedge.wfblink.smoke">
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />

    <application android:label="WFB Link USB Smoke">
        <activity
            android:name="com.arcedge.wfblink.smoke.WfbUsbSmokeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/wfb_usb_filter" />
        </activity>
    </application>
</manifest>
